/* src/components/Input.css */
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .input-group label {
    margin-bottom: 0.5rem;
    color: #020202;
    font-weight: bold;
    display: block;
  }
  
  .input-group input[type="text"],
  .input-group input[type="email"],
  .input-group input[type="password"],
  .input-group input[type="tel"],
  .input-group input[type="number"] {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: #fff; /* Cambia el color de fondo a blanco */
    color: #333;
    border-color: #333;
  }
  
  .input-group input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(205, 213, 221, 0.25);
  }
  
  /* Puedes agregar más estilos según sea necesario */